{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="tab">
        <h2>Add Product</h2>
        {{error}}
        <form action="" method="POST">
    
            {% csrf_token %}
    
            {{form}}
            <div><button name="product_form">Add Product</button></div>
        </form>
    
    </div>

    <div class="tab">
        
        <h2>Add sells of the day</h2>
        {{error}}
        <form action="" method="POST">
            {% csrf_token %}
            {{sellForm}}
            <div><button name="sell_form">Add sells</button></div>
        </form>
    </div>
</div>
{% endblock %}
